* {
    margin: 0;
    padding: 0;
}
div {
    border: 2px solid black;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(35, 45, 105, 0.795);
    color: white;
    margin: 0 auto;
}
section {
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 400px;
}
footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    color: white;
    background-color: rgba(3, 3, 3, 0.692);
    width: 100%;
}
body {
    margin: 0;
    background-attachment: fixed;
    background-color: #c5131367;
  background-image:
    linear-gradient(80deg, rgba(67, 121, 236, 0.932), transparent 85%),
    radial-gradient(ellipse at top left, rgba(13, 161, 13, 0.856), transparent 50%),
    radial-gradient(ellipse at bottom right, rgba(65, 12, 82, 0.562), transparent 50%),
    radial-gradient(ellipse at center left, rgb(212, 95, 223), transparent 50%);
 }
 button {
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 2px 5px 2px black;
    background-color: rgb(54, 54, 199);
    color: white;
 }
 h1 {
    padding: 20px;
 }
 #frase {
    padding: 20px;
 }